@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$mainColor: #fb2062;
$mainColorLow: rgba(251, 32, 98, 0.25);
$mainColorMid: rgba(251, 32, 98, 0.4);
$mainColorHigh: rgba(251, 32, 98, 0.8);
// MIXIN DEL MODAL DE LOS JUEGOS
@mixin gamesModal {
  .gamesModal::-webkit-scrollbar {
    position: absolute;
    width: 12px;
    height: 12px;
    display: block !important;
  }
  .gamesModal::-webkit-scrollbar-track {
    border-radius: 6px;
    background: $mainColorLow;
  }
  .gamesModal::-webkit-scrollbar-thumb {
    border-radius: 6px;
    height: 5px;
    background: $mainColorMid;
    opacity: 0.1;
    //border: 0.05em solid #eeeeee;
  }
  .gamesModal::-webkit-scrollbar-thumb:hover {
    background: $mainColorHigh;
  }
  .gamesModal::-webkit-scrollbar-thumb:active {
    background: $mainColorHigh;
  }
  .gamesModal::-webkit-scrollbar-button {
    height: 0px;
    width: 0px;
  }
  .gamesModal::-webkit-scrollbar-button:vertical:decrement {
    height: 0px;
    border-width: 0 7px 14px 7px;
    border-color: transparent;
  }
  .gamesModal::-webkit-scrollbar-button:vertical:decrement:hover {
    border-color: transparent transparent rgb(180, 180, 180) transparent;
  }
  .gamesModal::-webkit-scrollbar-button:vertical:increment {
    height: 0px;
    border-width: 14px 7px 0 7px;
    border-color: rgba(40, 100, 40, 0) transparent transparent transparent;
  }
  .gamesModal::-webkit-scrollbar-button:vertical:increment:hover {
    border-color: rgb(180, 180, 180) transparent transparent transparent;
  }
  .gamesModal {
    margin-top: 115px;
    height: 440px;
    padding: 0px;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    background: transparent;
    box-shadow: none;
    $cardWidth: 238px;
    $cardHeight: 360px;
    $cardTop: -80px;
    $cardMarginLeft: 24px;
    $gameLabelBottom: 150px;
    $gameLabelWidth: 150px;
    $gameLabelBg: transparent;
    $initialOpacity: 0.45;
    $gameLabelLeft: 10%;
    $cardsTransistion: 0.2s;

    .cards-wrapper {
      display: block;
      margin: 0 auto !important;
      height: inherit;
      text-align: unset;
      overflow-x: hidden;
      .gameCard {
        display: inline-block;
        position: relative;
        margin-top: 40px;
        margin-left: $cardMarginLeft;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 0 15px 0 rgba(33, 36, 51, 0.25);
        width: $cardWidth;
        height: $cardHeight;
        transition: $cardsTransistion;
        background: #212433;
        border-radius: 6px;
        box-shadow: 0 0 17.5px 0 $mainColorLow;
        border: solid 1px $mainColor;
        background-color: rgba(1, 1, 1, 1);
        z-index: 1500;
        &:hover {
          transition: $cardsTransistion;
          box-shadow: 0 0 23px 0 $mainColorHigh;
        }
        div {
          //card content
          cursor: pointer;
          position: absolute;
          left: 0px;
          width: $cardWidth;
          height: $cardHeight;
          opacity: $initialOpacity;
          // background: url('https://res.cloudinary.com/versus/image/upload/v1587136513/Statics_images/nmzwhkklfs4hxzstxz0h.jpg');
          filter: grayscale(50%);
          &:hover {
            filter: none;
            opacity: 1;
            transition: $cardsTransistion;
            transform: scale(1.1);
          }
        }
        label {
          pointer-events: none;
          display: block;
          position: absolute;
          bottom: 0px;
          text-align: center;
          font-size: 16px;
          font-family: 'Roboto';
          width: $cardWidth;
          height: 48px;
          line-height: 48px;
          color: white;
          background: #111217;
          z-index: 10000;
          transition: $cardsTransistion;
          border-top: solid 1px $mainColor;
        }
      }
      /*
        .fifa20-card{
            cursor: pointer;
            position: absolute;
            left: 0px;
            width: $cardWidth;
            height: $cardHeight;
            opacity: $initialOpacity;
            background: url('https://res.cloudinary.com/versus/image/upload/v1587136513/Statics_images/nmzwhkklfs4hxzstxz0h.jpg');
            filter: grayscale(50%);
            background-position: 50% 20%;
            &:hover{
              filter: none;
              opacity: 1;
              transition: $cardsTransistion;
              transform: scale(1.1);

            };
          };
          .fifa20-label{
            display: block;
            position: absolute;
            bottom: 0px;
            text-align: center;
            font-size: 16px;
            font-family: 'Roboto';
            width: $cardWidth;
            height: 48px;
            line-height: 48px;
            color: white;
            background: #111217;
            z-index: 10000;
            transition: $cardsTransistion;
            border-top: solid 1px $mainColor;
          };
      };
      */
      /*
      .fifa20-card-box{
        position: absolute;
        top: 40px;
        left: 40px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 0 15px 0 rgba(33, 36, 51, 0.25);
        width: $cardWidth;
        height: $cardHeight;
        transition: $cardsTransistion;
        background: #212433;
        border-radius: 6px;
        box-shadow: 0 0 40px 0 rgba(255,191,0, 0.25);
        border: solid 1px $mainColor;
        background-color: rgba(1, 1, 1, 1);
        z-index: 1500;
        &:hover{
          transition: $cardsTransistion;
          box-shadow: 0 0 40px 0 rgba(255,191,0, 0.5);
        };
        .fifa20-card{
            cursor: pointer;
            position: absolute;
            left: 0px;
            width: $cardWidth;
            height: $cardHeight;
            opacity: $initialOpacity;
            background: url('https://res.cloudinary.com/versus/image/upload/v1587136513/Statics_images/nmzwhkklfs4hxzstxz0h.jpg');
            filter: grayscale(50%);
            background-position: 50% 20%;
            &:hover{
              filter: none;
              opacity: 1;
              transition: $cardsTransistion;
              transform: scale(1.1);

            };
          };
          .fifa20-label{
            display: block;
            position: absolute;
            bottom: 0px;
            text-align: center;
            font-size: 16px;
            font-family: 'Roboto';
            width: $cardWidth;
            height: 48px;
            line-height: 48px;
            color: white;
            background: #111217;
            z-index: 10000;
            transition: $cardsTransistion;
            border-top: solid 1px $mainColor;
          };
      };
  
      .pes20-card-box{
        position: absolute;
        top: 40px;
        left: 298px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 0 15px 0 rgba(33, 36, 51, 0.25);
        width: $cardWidth;
        height: $cardHeight;
        transition: $cardsTransistion;
        background: #212433;
        border-radius: 6px;
        box-shadow: 0 0 40px 0 rgba(255,191,0, 0.25);
        border: solid 1px $mainColor;
        background-color: rgba(1, 1, 1, 1);
        z-index: 1500;
        &:hover{
          transition: $cardsTransistion;
          box-shadow: 0 0 40px 0 rgba(255,191,0, 0.5);
        };
        .pes20-card{
            cursor: pointer;
            position: absolute;
            left: 0px;
            width: $cardWidth;
            height: $cardHeight;
            opacity: $initialOpacity;
            background: url('https://res.cloudinary.com/versus/image/upload/v1587138144/Statics_images/askzyevsn33ehjzzrc2f.jpg');
            filter: grayscale(50%);
            background-position: 40% 20%;
            &:hover{
              filter: none;
              opacity: 1;
              transition: $cardsTransistion;
              transform: scale(1.1);
            };
          };
          .pes20-label{
            display: block;
            position: absolute;
            bottom: 0px;
            text-align: center;
            font-size: 16px;
            font-family: 'Roboto';
            width: $cardWidth;
            height: 48px;
            line-height: 48px;
            color: white;
            background: #111217;
            z-index: 10000;
            transition: $cardsTransistion;
            border-top: solid 1px $mainColor;
          };
      };
  
      .lol-card-box{
        position: absolute;
        top: 40px;
        left: 556px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 0 15px 0 rgba(33, 36, 51, 0.25);
        width: $cardWidth;
        height: $cardHeight;
        transition: $cardsTransistion;
        background: #212433;
        border-radius: 6px;
        box-shadow: 0 0 40px 0 rgba(255,191,0, 0.25);
        border: solid 1px $mainColor;
        background-color: rgba(1, 1, 1, 1);
        z-index: 1500;
        &:hover{
          transition: $cardsTransistion;
          box-shadow: 0 0 40px 0 rgba(255,191,0, 0.5);
        };
        .lol-card{
            cursor: pointer;
            position: absolute;
            left: 0px;
            width: $cardWidth;
            height: $cardHeight;
            opacity: $initialOpacity;
            background: url('https://res.cloudinary.com/versus/image/upload/c_fill,w_550/v1588961038/Statics_images/xqufmmebfe8gj0wwkpzd.png');
            filter: grayscale(50%);
            background-position: 20% 10%;
            &:hover{
              filter: none;
              opacity: 1;
              transition: $cardsTransistion;
              transform: scale(1.1);
            };
          };
          .lol-label{
            display: block;
            position: absolute;
            bottom: 0px;
            text-align: center;
            font-size: 16px;
            font-family: 'Roboto';
            width: $cardWidth;
            height: 48px;
            line-height: 48px;
            color: white;
            background: #111217;
            z-index: 10000;
            transition: $cardsTransistion;
            border-top: solid 1px $mainColor;
          };
      };
      .mobileL-card-box{
        position: absolute;
        top: 40px;
        left: 814px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 0 15px 0 rgba(33, 36, 51, 0.25);
        width: $cardWidth;
        height: $cardHeight;
        transition: $cardsTransistion;
        background: #212433;
        border-radius: 6px;
        box-shadow: 0 0 40px 0 rgba(255,191,0, 0.25);
        border: solid 1px $mainColor;
        background-color: rgba(1, 1, 1, 1);
        z-index: 1500;
        &:hover{
          transition: $cardsTransistion;
          box-shadow: 0 0 40px 0 rgba(255,191,0, 0.5);
        };
        .mobileL-card{
            cursor: pointer;
            position: absolute;
            left: 0px;
            width: $cardWidth;
            height: $cardHeight;
            opacity: $initialOpacity;
            background: url('https://res.cloudinary.com/versus/image/upload/v1587133704/Statics_images/fqms2d3c4ylfnxxxwc0j.jpg');
            filter: grayscale(50%);
            background-position: 35% 20%;
            &:hover{
              filter: none;
              opacity: 1;
              transition: $cardsTransistion;
              transform: scale(1.1);
            };
          };
          .mobileL-label{
            display: block;
            position: absolute;
            bottom: 0px;
            text-align: center;
            font-size: 16px;
            font-family: 'Roboto';
            width: $cardWidth;
            height: 48px;
            line-height: 48px;
            color: white;
            background: #111217;
            z-index: 10000;
            transition: $cardsTransistion;
            border-top: solid 1px $mainColor;
          };
      };
      */
      .card-hover {
        opacity: 1;
        transition: $cardsTransistion;
      }
    }
  }
}
@mixin gamesModal-cel {
  .gamesModal::-webkit-scrollbar {
    position: absolute;
    width: 12px;
    height: 12px;
    display: block !important;
  }
  .gamesModal::-webkit-scrollbar-track {
    border-radius: 6px;
    background: $mainColorLow;
  }
  .gamesModal::-webkit-scrollbar-thumb {
    border-radius: 6px;
    height: 5px;
    background: $mainColorMid;
    opacity: 0.1;
    //border: 0.05em solid #eeeeee;
  }
  .gamesModal::-webkit-scrollbar-thumb:hover {
    background: $mainColorHigh;
  }
  .gamesModal::-webkit-scrollbar-thumb:active {
    background: $mainColorHigh;
  }
  .gamesModal::-webkit-scrollbar-button {
    height: 0px;
    width: 0px;
  }
  .gamesModal::-webkit-scrollbar-button:vertical:decrement {
    height: 0px;
    border-width: 0 7px 14px 7px;
    border-color: transparent;
  }
  .gamesModal::-webkit-scrollbar-button:vertical:decrement:hover {
    border-color: transparent transparent rgb(180, 180, 180) transparent;
  }
  .gamesModal::-webkit-scrollbar-button:vertical:increment {
    height: 0px;
    border-width: 14px 7px 0 7px;
    border-color: rgba(40, 100, 40, 0) transparent transparent transparent;
  }
  .gamesModal::-webkit-scrollbar-button:vertical:increment:hover {
    border-color: rgb(180, 180, 180) transparent transparent transparent;
  }
  .gamesModal {
    margin-top: 115px;
    padding: 0px;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    background: transparent;
    box-shadow: none;
    $cardWidth: 224px;
    $cardHeight: 150px;
    $cardTop: -80px;
    $cardMarginLeft: 24px;
    $gameLabelBottom: 150px;
    $gameLabelWidth: 150px;
    $gameLabelBg: transparent;
    $initialOpacity: 0.45;
    $gameLabelLeft: 10%;
    $cardsTransistion: 0.2s;
    width: 90% !important;
    .cards-wrapper {
      display: block;
      margin: 0 auto !important;
      height: auto;
      text-align: unset;
      overflow-x: scroll;
      width: inherit !important;
      .gameCard {
        display: block;
        position: relative;
        //margin-top: 40px;
        margin: 20px auto;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 0 15px 0 rgba(33, 36, 51, 0.25);
        width: $cardWidth;
        height: $cardHeight;
        transition: $cardsTransistion;
        background: #212433;
        border-radius: 6px;
        box-shadow: 0 0 17.5px 0 $mainColorLow;
        border: solid 1px $mainColor;
        background-color: rgba(1, 1, 1, 1);
        z-index: 1500;
        &:hover {
          transition: $cardsTransistion;
          box-shadow: 0 0 23px 0 $mainColorHigh;
        }
        div {
          //card content
          cursor: pointer;
          position: absolute;
          left: 0px;
          width: $cardWidth;
          height: $cardHeight;
          opacity: $initialOpacity;
          // background: url('https://res.cloudinary.com/versus/image/upload/v1587136513/Statics_images/nmzwhkklfs4hxzstxz0h.jpg');
          filter: grayscale(50%);
          &:hover {
            filter: none;
            opacity: 1;
            transition: $cardsTransistion;
            transform: scale(1.1);
          }
        }
        label {
          pointer-events: none;
          display: block;
          position: absolute;
          bottom: 0px;
          text-align: center;
          font-size: 16px;
          font-family: 'Roboto';
          width: $cardWidth;
          height: 48px;
          line-height: 48px;
          color: white;
          background: #111217;
          z-index: 10000;
          transition: $cardsTransistion;
          border-top: solid 1px $mainColor;
        }
      }
      /*
        .fifa20-card{
            cursor: pointer;
            position: absolute;
            left: 0px;
            width: $cardWidth;
            height: $cardHeight;
            opacity: $initialOpacity;
            background: url('https://res.cloudinary.com/versus/image/upload/v1587136513/Statics_images/nmzwhkklfs4hxzstxz0h.jpg');
            filter: grayscale(50%);
            background-position: 50% 20%;
            &:hover{
              filter: none;
              opacity: 1;
              transition: $cardsTransistion;
              transform: scale(1.1);

            };
          };
          .fifa20-label{
            display: block;
            position: absolute;
            bottom: 0px;
            text-align: center;
            font-size: 16px;
            font-family: 'Roboto';
            width: $cardWidth;
            height: 48px;
            line-height: 48px;
            color: white;
            background: #111217;
            z-index: 10000;
            transition: $cardsTransistion;
            border-top: solid 1px $mainColor;
          };
      };
      */
      /*
      .fifa20-card-box{
        position: absolute;
        top: 40px;
        left: 40px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 0 15px 0 rgba(33, 36, 51, 0.25);
        width: $cardWidth;
        height: $cardHeight;
        transition: $cardsTransistion;
        background: #212433;
        border-radius: 6px;
        box-shadow: 0 0 40px 0 rgba(255,191,0, 0.25);
        border: solid 1px $mainColor;
        background-color: rgba(1, 1, 1, 1);
        z-index: 1500;
        &:hover{
          transition: $cardsTransistion;
          box-shadow: 0 0 40px 0 rgba(255,191,0, 0.5);
        };
        .fifa20-card{
            cursor: pointer;
            position: absolute;
            left: 0px;
            width: $cardWidth;
            height: $cardHeight;
            opacity: $initialOpacity;
            background: url('https://res.cloudinary.com/versus/image/upload/v1587136513/Statics_images/nmzwhkklfs4hxzstxz0h.jpg');
            filter: grayscale(50%);
            background-position: 50% 20%;
            &:hover{
              filter: none;
              opacity: 1;
              transition: $cardsTransistion;
              transform: scale(1.1);

            };
          };
          .fifa20-label{
            display: block;
            position: absolute;
            bottom: 0px;
            text-align: center;
            font-size: 16px;
            font-family: 'Roboto';
            width: $cardWidth;
            height: 48px;
            line-height: 48px;
            color: white;
            background: #111217;
            z-index: 10000;
            transition: $cardsTransistion;
            border-top: solid 1px $mainColor;
          };
      };
  
      .pes20-card-box{
        position: absolute;
        top: 40px;
        left: 298px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 0 15px 0 rgba(33, 36, 51, 0.25);
        width: $cardWidth;
        height: $cardHeight;
        transition: $cardsTransistion;
        background: #212433;
        border-radius: 6px;
        box-shadow: 0 0 40px 0 rgba(255,191,0, 0.25);
        border: solid 1px $mainColor;
        background-color: rgba(1, 1, 1, 1);
        z-index: 1500;
        &:hover{
          transition: $cardsTransistion;
          box-shadow: 0 0 40px 0 rgba(255,191,0, 0.5);
        };
        .pes20-card{
            cursor: pointer;
            position: absolute;
            left: 0px;
            width: $cardWidth;
            height: $cardHeight;
            opacity: $initialOpacity;
            background: url('https://res.cloudinary.com/versus/image/upload/v1587138144/Statics_images/askzyevsn33ehjzzrc2f.jpg');
            filter: grayscale(50%);
            background-position: 40% 20%;
            &:hover{
              filter: none;
              opacity: 1;
              transition: $cardsTransistion;
              transform: scale(1.1);
            };
          };
          .pes20-label{
            display: block;
            position: absolute;
            bottom: 0px;
            text-align: center;
            font-size: 16px;
            font-family: 'Roboto';
            width: $cardWidth;
            height: 48px;
            line-height: 48px;
            color: white;
            background: #111217;
            z-index: 10000;
            transition: $cardsTransistion;
            border-top: solid 1px $mainColor;
          };
      };
  
      .lol-card-box{
        position: absolute;
        top: 40px;
        left: 556px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 0 15px 0 rgba(33, 36, 51, 0.25);
        width: $cardWidth;
        height: $cardHeight;
        transition: $cardsTransistion;
        background: #212433;
        border-radius: 6px;
        box-shadow: 0 0 40px 0 rgba(255,191,0, 0.25);
        border: solid 1px $mainColor;
        background-color: rgba(1, 1, 1, 1);
        z-index: 1500;
        &:hover{
          transition: $cardsTransistion;
          box-shadow: 0 0 40px 0 rgba(255,191,0, 0.5);
        };
        .lol-card{
            cursor: pointer;
            position: absolute;
            left: 0px;
            width: $cardWidth;
            height: $cardHeight;
            opacity: $initialOpacity;
            background: url('https://res.cloudinary.com/versus/image/upload/c_fill,w_550/v1588961038/Statics_images/xqufmmebfe8gj0wwkpzd.png');
            filter: grayscale(50%);
            background-position: 20% 10%;
            &:hover{
              filter: none;
              opacity: 1;
              transition: $cardsTransistion;
              transform: scale(1.1);
            };
          };
          .lol-label{
            display: block;
            position: absolute;
            bottom: 0px;
            text-align: center;
            font-size: 16px;
            font-family: 'Roboto';
            width: $cardWidth;
            height: 48px;
            line-height: 48px;
            color: white;
            background: #111217;
            z-index: 10000;
            transition: $cardsTransistion;
            border-top: solid 1px $mainColor;
          };
      };
      .mobileL-card-box{
        position: absolute;
        top: 40px;
        left: 814px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 0 15px 0 rgba(33, 36, 51, 0.25);
        width: $cardWidth;
        height: $cardHeight;
        transition: $cardsTransistion;
        background: #212433;
        border-radius: 6px;
        box-shadow: 0 0 40px 0 rgba(255,191,0, 0.25);
        border: solid 1px $mainColor;
        background-color: rgba(1, 1, 1, 1);
        z-index: 1500;
        &:hover{
          transition: $cardsTransistion;
          box-shadow: 0 0 40px 0 rgba(255,191,0, 0.5);
        };
        .mobileL-card{
            cursor: pointer;
            position: absolute;
            left: 0px;
            width: $cardWidth;
            height: $cardHeight;
            opacity: $initialOpacity;
            background: url('https://res.cloudinary.com/versus/image/upload/v1587133704/Statics_images/fqms2d3c4ylfnxxxwc0j.jpg');
            filter: grayscale(50%);
            background-position: 35% 20%;
            &:hover{
              filter: none;
              opacity: 1;
              transition: $cardsTransistion;
              transform: scale(1.1);
            };
          };
          .mobileL-label{
            display: block;
            position: absolute;
            bottom: 0px;
            text-align: center;
            font-size: 16px;
            font-family: 'Roboto';
            width: $cardWidth;
            height: 48px;
            line-height: 48px;
            color: white;
            background: #111217;
            z-index: 10000;
            transition: $cardsTransistion;
            border-top: solid 1px $mainColor;
          };
      };
      */
      .card-hover {
        opacity: 1;
        transition: $cardsTransistion;
      }
    }
  }
}
// MIXIN DE LOS BOTONES
@mixin lowGradeButton {
  background-color: #111217;
  border: solid 2px #fb2062;
  border-radius: 6px;
  color: white;
}
@mixin highGradeButton {
  background-color: #fb2062;
  border: solid 2px #fb2062;
  border-radius: 6px;
  color: white;
}
@mixin buttonHover {
  &:hover {
    background-color: #fb2062;
    color: white;
    transition: 1s;
  }
}
// LOCALS VARS
$standarTransition: 1s;
$minWidth: 1136px;
$widthMargin: 0px;
$buttonsRadius: 6px;
$navHeight: 68px;
// Classic Template
$classicFont: '$classicFont', sans-serif;
$buttonsBorder: solid 2px #fb2062;
$classicColor: #fb2062;
$classicBottomColor: solid 1px #fb2062;
$background-color: #212433;
$marginAutoWidth: 0 auto;
$viewIndex0: 0;
$viewIndex1: 10;
$viewIndex2: 20;
$viewIndex3: 30;
$imageUrl: 'https://res.cloudinary.com/versus/image/upload/v1595333889/Statics_images/out2.0/qw7xtly6vqga5qlpxhas.jpg';
// MIXIN RESPONSIVE
@mixin CiudadEsports-1280 {
  $b-maxwidth: 1156px;
  $b-minwidth: 768px;
  $b-maxheight: auto;
  $b-minheight: 850px;
  $b-mainVerticalMargin: 144px;
  $b-childVerticalMargin: 72px;
  .CiudadEsports-wrapper-gradient {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    min-height: $b-minheight !important;
    max-height: $b-maxheight;
    z-index: $viewIndex1;
    opacity: 1;
    background-image: linear-gradient(to top, $mainColor, rgba(0, 0, 0, 0));
    .CiudadEsports-wrapper-image {
      display: block;
      width: inherit;
      height: inherit;
      min-height: $b-minheight !important;
      background-image: url($imageUrl);
      background-position: center;
      background-position: 80% 0%;
      opacity: 0.475;
    }
  }
  .CiudadEsports-wrapper {
    position: absolute;
    width: inherit;
    height: auto;
    min-height: $b-minheight !important;
    max-height: $b-maxheight;
    overflow: none;
    z-index: 1000;
    //background-color: rgba(17, 18, 23, 1);
    .CiudadEsports-content {
      position: relative;
      margin: 0 auto !important;
      width: 80%;
      height: 100vh;
      min-height: 850px;
      .nav-bar {
        position: relative;
        display: block; // Section Display
        left: -10vw;
        width: 100vw;
        z-index: 1000;
        height: 68px;
        background-color: transparent;
        .nav-bar-content {
          position: relative;
          width: inherit;
          height: 68px;
          margin: 0 auto;
          font-family: $classicFont;
          .login-button {
            position: absolute;
            display: block;
            right: 48px;
            top: 24px;
            width: 188px;
            height: 44px;
            font-size: 17px;
            transition: 0.75s;
            border-radius: 6px;
            //box-shadow: 0 0 50px 0 rgba(255, 191, 0, 0.25);
            @include lowGradeButton;
            @include buttonHover;
          }
          .loading-img {
            position: absolute;
            margin: 0 auto !important;
            right: 129.5px;
            top: 33.5px;
            width: 25px;
            height: 25px;
          }
        }
      }
      .logo-align {
        display: block;
        width: 100%;
        margin: 0 auto !important;
        margin-top: $b-childVerticalMargin !important;
        max-width: $b-maxwidth;
        text-align: center;
        .vs-logo {
          cursor: pointer;
          display: inline-block;
          width: 100%;
          max-width: $b-maxwidth;
          min-width: $b-minwidth;
          height: 48px;
          object-fit: contain;
          text-align: center;
        }
      }
      @include gamesModal;
      .CiudadEsports-legend {
        display: block;
        z-index: -500;
        margin: 0 auto !important;
        margin-top: $b-childVerticalMargin !important;
        margin-bottom: $b-mainVerticalMargin !important;
        padding: 0;
        width: $b-minwidth;
        font-family: 'Roboto';
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: -0.25px;
        text-align: center;
        color: #ffffff;
      }
      .loading-img {
        display: block;
        margin: 0 auto;
        margin-top: $b-mainVerticalMargin;
        margin-bottom: $b-mainVerticalMargin;
        width: 52px;
        height: 52px;
      }
      .play-button {
        display: none;
        display: block;
        margin: 0 auto;
        width: $b-minwidth/2.25;
        height: 52px;
        line-height: 52px;
        border-radius: 6px;
        border: solid 2px $mainColor;
        background-color: #111217;
        @include buttonHover;
        .button-contenido {
          margin: 0;
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          vertical-align: middle;
          color: #ffffff;
        }
      }
      .text-sponsor {
        display: block;
        margin: inherit;
        margin-top: $b-mainVerticalMargin;
        height: 16px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        z-index: 150000;
      }
    }
  }
}
@mixin CiudadEsports-768_1279 {
  $b-maxwidth: 768px;
  $b-minwidth: 426px;
  $b-maxheight: auto;
  $b-minheight: 850px;
  $b-mainVerticalMargin: 96px;
  $b-childVerticalMargin: 48px;
  .CiudadEsports-wrapper-gradient {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    min-height: $b-minheight !important;
    max-height: $b-maxheight;
    z-index: $viewIndex1;
    opacity: 1;
    background-image: linear-gradient(to top, $mainColor, rgba(0, 0, 0, 0));
    .CiudadEsports-wrapper-image {
      display: block;
      width: inherit;
      height: inherit;
      min-height: $b-minheight !important;
      background-image: url($imageUrl);
      background-position: center;
      background-position: 80% 0%;
      opacity: 0.475;
    }
  }
  .CiudadEsports-wrapper {
    position: absolute;
    width: inherit;
    height: auto;
    max-height: $b-maxheight;
    overflow: none;
    z-index: 1000;
    //background-color: rgba(17, 18, 23, 1);
    .CiudadEsports-content {
      position: relative;
      margin: 0 auto !important;
      width: 80%;
      height: 100vh;
      min-height: 850px;
      .nav-bar {
        position: relative;
        display: block; // Section Display
        left: -10vw;
        width: 100vw;
        z-index: 1000;
        height: 68px;
        background-color: transparent;
        .nav-bar-content {
          position: relative;
          width: inherit;
          height: 68px;
          margin: 0 auto;
          font-family: $classicFont;
          .login-button {
            position: absolute;
            display: block;
            right: 24px;
            top: 24px;
            width: 144px;
            height: 44px;
            font-size: 17px;
            transition: 0.75s;
            border-radius: 6px;
            box-shadow: 0 0 50px 0 rgba(255, 191, 0, 0.25);
            @include lowGradeButton;
            @include buttonHover;
          }
          .loading-img {
            position: absolute;
            margin: 0 auto;
            right: 83.5px;
            top: 33.5px;
            width: 25px;
            height: 25px;
          }
        }
      }
      .logo-align {
        display: block;
        width: 100%;
        margin: 0 auto !important;
        margin-top: $b-childVerticalMargin !important;
        max-width: $b-maxwidth;
        text-align: center;
        .vs-logo {
          cursor: pointer;
          display: inline-block;
          width: 100%;
          max-width: $b-maxwidth;
          min-width: $b-minwidth;
          height: 48px;
          object-fit: contain;
          text-align: center;
        }
      }
      @include gamesModal;
      .CiudadEsports-legend {
        display: block;
        z-index: -500;
        margin: 0 auto !important;
        margin-top: $b-childVerticalMargin !important;
        margin-bottom: $b-mainVerticalMargin !important;
        padding: 0;
        width: $b-minwidth;
        font-family: 'Roboto';
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: -0.25px;
        text-align: center;
        color: #ffffff;
      }
      .loading-img {
        display: block;
        margin: 0 auto;
        margin-top: $b-mainVerticalMargin;
        margin-bottom: $b-mainVerticalMargin;
        width: 52px;
        height: 52px;
      }
      .play-button {
        display: none;
        display: block;
        margin: 0 auto;
        width: $b-minwidth/1.5;
        height: 52px;
        line-height: 52px;
        border-radius: 6px;
        border: solid 2px $mainColor;
        background-color: #111217;
        @include buttonHover;
        .button-contenido {
          margin: 0;
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          vertical-align: middle;
          color: #ffffff;
        }
      }
      .text-sponsor {
        display: block;
        margin: inherit;
        margin-top: $b-mainVerticalMargin;
        height: 16px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        z-index: 150000;
      }
    }
  }
}
@mixin CiudadEsports-426_768 {
  $b-maxwidth: 425px;
  $b-minwidth: 300px;
  $b-maxheight: auto;
  $b-minheight: 850px;
  $b-mainVerticalMargin: 48px;
  $b-childVerticalMargin: 24px;
  .CiudadEsports-wrapper-gradient {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    min-height: $b-minheight;
    max-height: $b-maxheight;
    z-index: $viewIndex1;
    opacity: 1;
    background-image: linear-gradient(to top, $mainColor, rgba(0, 0, 0, 0));
    .CiudadEsports-wrapper-image {
      display: block;
      width: inherit;
      height: inherit;
      min-height: $b-minheight;
      max-height: $b-maxheight;
      background-image: url($imageUrl);
      background-position: center;
      background-position: 80% 0%;
      opacity: 0.475;
    }
  }
  .CiudadEsports-wrapper {
    position: absolute;
    width: inherit;
    height: inherit;
    min-height: $b-minheight;
    max-height: $b-maxheight;
    overflow: none;
    z-index: 1000;
    //background-color: rgba(17, 18, 23, 1);
    .CiudadEsports-content {
      position: relative;
      margin: 0 auto !important;
      width: 80%;
      height: 100vh;
      min-height: 850px;
      .nav-bar {
        position: relative;
        display: block; // Section Display
        left: -10vw;
        width: 100vw;
        z-index: 1000;
        height: 68px;
        background-color: transparent;
        .nav-bar-content {
          position: relative;
          width: inherit;
          height: 68px;
          margin: 0 auto;
          font-family: $classicFont;
          .login-button {
            position: absolute;
            display: block;
            right: 12px;
            top: 12px;
            width: 144px;
            height: 44px;
            font-size: 17px;
            transition: 0.75s;
            border-radius: 6px;
            box-shadow: 0 0 50px 0 rgba(255, 191, 0, 0.25);
            @include lowGradeButton;
            @include buttonHover;
          }
          .loading-img {
            position: absolute;
            margin: 0 auto !important;
            right: 54.5px;
            top: 22px;
            width: 25px;
            height: 25px;
          }
        }
      }
      .logo-align {
        display: block;
        width: 100%;
        margin: 0 auto !important;
        margin-top: $b-childVerticalMargin !important;
        max-width: $b-maxwidth;
        text-align: center;
        .vs-logo {
          cursor: pointer;
          display: inline-block;
          width: 100%;
          max-width: $b-maxwidth;
          min-width: $b-minwidth;
          height: 48px;
          object-fit: contain;
          text-align: center;
        }
      }
      @include gamesModal;
      .CiudadEsports-legend {
        display: block;
        z-index: -500;
        margin: 0 auto !important;
        margin-top: $b-childVerticalMargin !important;
        margin-bottom: $b-mainVerticalMargin !important;
        padding: 0;
        width: $b-minwidth;
        font-family: 'Roboto';
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: -0.25px;
        text-align: center;
        color: #ffffff;
      }
      .loading-img {
        display: block;
        margin: 0 auto;
        margin-top: $b-mainVerticalMargin;
        margin-bottom: $b-mainVerticalMargin;
        width: 52px;
        height: 52px;
      }
      .play-button {
        display: none;
        display: block;
        margin: 0 auto;
        width: $b-minwidth/1.5;
        height: 52px;
        line-height: 52px;
        border-radius: 6px;
        border: solid 2px $mainColor;
        background-color: #111217;
        @include buttonHover;
        .button-contenido {
          margin: 0;
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          vertical-align: middle;
          color: #ffffff;
        }
      }
      .text-sponsor {
        display: block;
        margin: inherit;
        margin-top: $b-mainVerticalMargin;
        height: 16px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        z-index: 150000;
      }
    }
  }
}
@mixin CiudadEsports-425 {
  $b-maxwidth: 300px;
  $b-minwidth: 200px;
  $b-maxheight: auto;
  $b-minheight: 850px;
  $b-mainVerticalMargin: 48px;
  $b-childVerticalMargin: 24px;
  .CiudadEsports-wrapper-gradient {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    min-height: $b-minheight;
    max-height: $b-maxheight;
    z-index: $viewIndex1;
    opacity: 1;
    background-image: linear-gradient(to top, $mainColor, rgba(0, 0, 0, 0));
    .CiudadEsports-wrapper-image {
      display: block;
      width: inherit;
      height: inherit;
      min-height: $b-minheight;
      max-height: $b-maxheight;
      background-image: url($imageUrl);
      background-position: center;
      background-position: 80% 0%;
      opacity: 0.475;
    }
  }
  .CiudadEsports-wrapper {
    position: absolute;
    width: inherit;
    height: inherit;
    min-height: $b-minheight;
    max-height: $b-maxheight;
    overflow: none;
    z-index: 1000;
    //background-color: rgba(17, 18, 23, 1);
    .CiudadEsports-content {
      position: relative;
      margin: 0 auto !important;
      width: 80%;
      height: 100vh;
      min-height: 850px;
      .nav-bar {
        position: relative;
        display: block; // Section Display
        left: -10vw;
        width: 100vw;
        z-index: 1000;
        height: 68px;
        background-color: transparent;
        .nav-bar-content {
          position: relative;
          width: inherit;
          height: 68px;
          margin: 0 auto;
          font-family: $classicFont;
          .login-button {
            position: absolute;
            display: block;
            right: 12px;
            top: 12px;
            width: 144px;
            height: 44px;
            font-size: 17px;
            transition: 0.75s;
            border-radius: 6px;
            box-shadow: 0 0 50px 0 rgba(255, 191, 0, 0.25);
            @include lowGradeButton;
            @include buttonHover;
          }
          .loading-img {
            position: absolute;
            top: 24px;
            margin: 0 auto !important;
            right: 64.5px;
            width: 25px;
            height: 25px;
          }
        }
      }
      .logo-align {
        display: block;
        width: 100%;
        margin: 0 auto !important;
        margin-top: $b-childVerticalMargin !important;
        max-width: $b-maxwidth;
        text-align: center;
        .vs-logo {
          cursor: pointer;
          display: inline-block;
          width: 100%;
          max-width: $b-maxwidth;
          min-width: $b-minwidth;
          height: 48px;
          object-fit: contain;
          text-align: center;
        }
      }
      @include gamesModal-cel;
      .CiudadEsports-legend {
        display: block;
        z-index: -500;
        margin: 0 auto !important;
        margin-top: $b-childVerticalMargin !important;
        margin-bottom: $b-mainVerticalMargin !important;
        padding: 0;
        width: $b-minwidth;
        font-family: 'Roboto';
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: -0.25px;
        text-align: center;
        color: #ffffff;
      }
      .loading-img {
        display: block;
        margin: 0 auto;
        margin-top: $b-mainVerticalMargin;
        margin-bottom: $b-mainVerticalMargin;
        width: 52px;
        height: 52px;
      }
      .play-button {
        display: none;
        display: block;
        margin: 0 auto;
        width: $b-minwidth;
        height: 52px;
        line-height: 52px;
        border-radius: 6px;
        border: solid 2px $mainColor;
        background-color: #111217;
        @include buttonHover;
        .button-contenido {
          margin: 0;
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          vertical-align: middle;
          color: #ffffff;
        }
      }
      .text-sponsor {
        display: block;
        margin: inherit;
        margin-top: $b-mainVerticalMargin;
        height: 16px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        z-index: 150000;
      }
    }
  }
}

@mixin l {
  @media (min-width: #{1280px}) {
    @include CiudadEsports-1280;
  }
}
@mixin m {
  @media (min-width: #{768px}) {
    @media (max-width: #{1279px}) {
      @include CiudadEsports-768_1279;
    }
  }
}
@mixin sm {
  @media (min-width: #{426px}) {
    @media (max-width: #{768px}) {
      @include CiudadEsports-426_768;
    }
  }
}
@mixin s {
  // 320 - 425
  @media (max-width: #{425px}) {
    @include CiudadEsports-425;
  }
}

#responsive-CiudadEsports {
  width: 100vw;
  height: 100vh;
  min-height: 850px;
  background-color: rgba(17, 18, 23, 1);
  @include s;
  @include sm;
  @include m;
  @include l;
}
