@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@mixin registerLabel() {
  display: inline-block;
  margin: 0 auto;
  margin-top: 18px;
  width: 300px;
  height: 12px;
  font-family: $classicFont;
  text-align: left;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 12px;
  letter-spacing: normal;
  text-align: left;
  color: #828699 !important;
}
@mixin registerField() {
  display: inline-block;
  margin: 0 auto;
  margin-top: 18px;
  width: 300px !important;
  height: 26px;
  padding: none !important;
  padding-left: 2px;
  font-family: $classicFont;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  resize: none;
  overflow: hidden;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  &::placeholder {
    font-size: 15.5px;
    line-height: 33px;
    color: rgba(175, 175, 175, 0.75);
  }

  &:focus {
    background-color: transparent !important;
    box-shadow: none;
    -webkit-appearance: none !important;
  }
  &:hover {
    background-color: transparent !important;
  }
}

// Classic Template
$classicFont: '$classicFont', sans-serif;
$classicColor: #fb2062;
$background-color: #111217;
$marginAutoWidth: 0 auto;
$viewIndex0: 0;
$viewIndex1: 10;
$viewIndex2: 20;
$viewIndex3: 30;
$viewIndex4: 40;
$viewIndex5: 50;

// MIXIN DEL MODAL DE LOS JUEGOS
@mixin TeamPlayerRegister-1280 {
  .TeamPlayerRegister-wrapper {
    position: absolute;
    text-align: center;
    width: 100vw;
    height: 1280px;
    min-width: 1280px;
    margin: $marginAutoWidth;
    overflow: none;
    background: $background-color;
    z-index: $viewIndex0;
    $s-margin: 27px;
    $s-width: 310px;
    .register-box {
      width: 480px;
      height: auto !important;
      margin: 0 auto !important;
      margin-top: 68px !important;
      .register-tittle {
        display: inline-block;
        margin-top: 29px;
        margin-left: $s-margin/2;
        margin-right: $s-margin/2;
        padding-left: 12px;
        width: $s-width;
        height: 26px;
        text-align: center;
        font-family: $classicFont;
        font-size: 24px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 26px;
        letter-spacing: normal;
        color: #ffffff;
      }
      .label-name-register {
        @include registerLabel();
      }
      .name-register {
        @include registerField();
      }
      .label-email-register {
        @include registerLabel();
      }
      .nickname-register-label {
        @include registerLabel();
      }
      .nickname-register-input {
        @include registerField();
      }
      .email-register {
        @include registerField();
      }
      .label-date-register {
        @include registerLabel();
      }
      .date-register {
        @include registerField();
        color: rgba(130, 134, 153, 1) !important;
        ::-webkit-inner-spin-button {
          display: none;
        }
        ::-webkit-calendar-picker-indicator:hover {
          background: none;
        }
      } /*
              .tutor-data{
              }*/
      .tutor-auth {
        @include registerLabel();
        color: rgb(243, 169, 126) !important;
      }
      .label-document-register {
        @include registerLabel();
      }
      .document-input {
        @include registerField();
      }
      .label-city-register {
        @include registerLabel();
      }
      .city-register {
        @include registerField();
      }
      .label-password-register {
        @include registerLabel();
      }
      .password-register {
        @include registerField();
      }
      .label-passwordconfirm-register {
        @include registerLabel();
      }
      .passwordconfirm-register {
        @include registerField();
      }
      .label-policy-register {
        cursor: pointer;
        @include registerLabel();
        text-align: center;
        width: 480 !important;
        margin: 14px auto !important;
      }
      .register-submit {
        cursor: pointer;
        margin-left: 64px;
        margin-right: 64px;
        margin-top: 24px;
        margin-bottom: 24px;
        width: 144px;
        height: 32px;
        border-radius: 6px;
        font-family: $classicFont;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}
@mixin TeamPlayerRegister-426_1279 {
  $s-margin: 27px;
  $s-width: 310px;
  .TeamPlayerRegister-wrapper {
    position: absolute;
    text-align: center;
    width: 100vw;
    height: 1280px;
    margin: $marginAutoWidth;
    overflow: none;
    background: $background-color;
    z-index: $viewIndex0;
  }
}
@mixin TeamPlayerRegister-425 {
  $min-width-s: 425px;
  $s-margin: 27px;
  $s-width: 310px;
  .TeamPlayerRegister-wrapper {
    position: absolute;
    text-align: center;
    height: 1280px !important;
    min-width: $min-width-s !important;
    margin: $marginAutoWidth;
    overflow: none;
    background: $background-color;
    z-index: $viewIndex0;
    .register-box {
      width: 100%;
      min-width: 320px;
      height: auto !important;
      margin: 0 auto !important;
      .register-tittle {
        display: inline-block;
        margin-top: 29px;
        margin-left: $s-margin/2;
        margin-right: $s-margin/2;
        padding-left: 12px;
        width: $s-width;
        height: 26px;
        text-align: center;
        font-family: $classicFont;
        font-size: 24px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 26px;
        letter-spacing: normal;
        color: #ffffff;
      }
      .label-name-register {
        @include registerLabel();
      }
      .name-register {
        @include registerField();
      }
      .label-email-register {
        @include registerLabel();
      }
      .nickname-register-label {
        @include registerLabel();
      }
      .nickname-register-input {
        @include registerField();
      }
      .email-register {
        @include registerField();
      }
      .label-date-register {
        @include registerLabel();
      }
      .date-register {
        @include registerField();
        color: rgba(130, 134, 153, 1) !important;
        ::-webkit-inner-spin-button {
          display: none;
        }
        ::-webkit-calendar-picker-indicator:hover {
          background: none;
        }
      } /*
            .tutor-data{
            }*/
      .tutor-auth {
        @include registerLabel();
        color: rgb(243, 169, 126) !important;
      }
      .label-document-register {
        @include registerLabel();
      }
      .document-input {
        @include registerField();
      }
      .label-city-register {
        @include registerLabel();
      }
      .city-register {
        @include registerField();
      }
      .label-password-register {
        @include registerLabel();
      }
      .password-register {
        @include registerField();
      }
      .label-passwordconfirm-register {
        @include registerLabel();
      }
      .passwordconfirm-register {
        @include registerField();
      }
      .label-policy-register {
        cursor: pointer;
        @include registerLabel();
        text-align: center;
        width: 480 !important;
        margin: 14px auto !important;
      }
      .register-submit {
        cursor: pointer;
        margin-left: 64px;
        margin-right: 64px;
        margin-top: 24px;
        margin-bottom: 24px;
        width: 144px;
        height: 32px;
        border-radius: 6px;
        font-family: $classicFont;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}

@mixin l {
  @media (min-width: #{1280px}) {
    @include TeamPlayerRegister-1280;
  }
}
@mixin m {
  @media (min-width: #{426px}) {
    @media (max-width: #{1279px}) {
      @include TeamPlayerRegister-426_1279;
    }
  }
}
@mixin s {
  @media (max-width: #{425px}) {
    @include TeamPlayerRegister-425;
  }
}

#responsive-TeamPlayerRegister {
  @media (max-width: #{425px}) {
    width: 100%;
    max-width: 425px;
    min-width: 320px;
    height: 100% !important;
  }

  @include s;
  @include m;
  @include l;
}
